<h2 style='color:blue;font-weight:bold;text-align:center;'>**PWSkills Assignment **<h2>

<p style='color:green;font-weight:bold'> Q1. List any five functions of the pandas library with execution</p>

1.**read_csv()**: This function is used to read data from a CSV file and create a DataFrame.

In [5]:
import pandas as pd
import os
# Reading data from a CSV file and creating a DataFrame
df = pd.read_csv(os.path.join('annual-enterprise-survey-2021-financial-year-provisional-csv.csv'))
print(df.head())

   Year Industry_aggregation_NZSIOC Industry_code_NZSIOC Industry_name_NZSIOC  \
0  2021                     Level 1                99999       All industries
1  2021                     Level 1                99999       All industries
2  2021                     Level 1                99999       All industries
3  2021                     Level 1                99999       All industries
4  2021                     Level 1                99999       All industries

                Units Variable_code  \
0  Dollars (millions)           H01
1  Dollars (millions)           H04
2  Dollars (millions)           H05
3  Dollars (millions)           H07
4  Dollars (millions)           H08

                                     Variable_name      Variable_category  \
0                                     Total income  Financial performance
1  Sales, government funding, grants and subsidies  Financial performance
2                Interest, dividends and donations  Financial performance
3                             Non-operating income  Financial performance
4                                Total expenditure  Financial performance

     Value                             Industry_code_ANZSIC06
0  757,504  ANZSIC06 divisions A-S (excluding classes K633...
1  674,890  ANZSIC06 divisions A-S (excluding classes K633...
2   49,593  ANZSIC06 divisions A-S (excluding classes K633...
3   33,020  ANZSIC06 divisions A-S (excluding classes K633...
4  654,404  ANZSIC06 divisions A-S (excluding classes K633...

2.`head()`: This function is used to display the first few rows of a DataFrame.

In [6]:
import pandas as pd

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 22, 28],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)

# Displaying the first few rows of the DataFrame
print(df.head())

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22    Los Angeles
3    David   28        Chicago

3.`groupby()`: This function is used for grouping data based on one or more columns and performing aggregate operations.

In [7]:
import pandas as pd

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Alice'],
    'Age': [25, 30, 22, 28, 23],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago', 'New York']
}

df = pd.DataFrame(data)

# Grouping data by 'Name' and calculating the average age for each name
grouped_data = df.groupby('Name')['Age'].mean()
print(grouped_data)

Name
Alice      24.0
Bob        30.0
Charlie    22.0
David      28.0
Name: Age, dtype: float64

4.`fillna()`: This function is used to fill missing or NaN (Not a Number) values in a DataFrame.

In [8]:
import pandas as pd

# Creating a DataFrame with missing values
data = {
    'A': [1, 2, None, 4],
    'B': [5, None, 7, 8],
    'C': [9, 10, 11, 12]
}

df = pd.DataFrame(data)

# Filling missing values with 0
df_filled = df.fillna(0)
print(df_filled)

     A    B   C
0  1.0  5.0   9
1  2.0  0.0  10
2  0.0  7.0  11
3  4.0  8.0  12

5.`merge()`: This function is used to merge two DataFrames based on a common column.

In [9]:
import pandas as pd

# Creating two DataFrames
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Age': [25, 30, 22]})

# Merging the DataFrames based on 'ID' column
merged_df = pd.merge(df1, df2, on='ID')
print(merged_df)

   ID     Name  Age
0   2      Bob   25
1   3  Charlie   30