<h2 style='color:blue;font-weight:bold;text-align:center;'>**PWSkills Assignment **<h2>

<p style='color:green;font-weight:bold'>  Q1. Write a code to print the data present in the second row of the dataframe, df.</p>

In [4]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']

duration = [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

<p style='color:green;font-weight:bold'>  Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?</p>

1.**loc** stands for "location" and is used for label-based indexing. It allows you to access rows and columns in a DataFrame using their labels (index and column names). The basic syntax for loc is df.loc[row_label, column_label].

2.**iloc** stands for "integer location" and is used for integer-based indexing. It allows you to access rows and columns in a DataFrame using their integer positions (index positions). The basic syntax for iloc is df.iloc[row_index, column_index].

Here's a more detailed explanation of the differences between loc and iloc:

**loc:**
- Uses labels (index and column names) to access data.
- Both row and column labels are inclusive (closed interval).
- Allows boolean indexing for filtering rows based on conditions.
- Syntax: df.loc[row_label, column_label] or df.loc[row_label] for accessing entire rows.
Example:

In [5]:
import pandas as pd

# Example DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 22],
    'City': ['New York', 'San Francisco', 'Los Angeles']
}
df = pd.DataFrame(data, index=['A', 'B', 'C'])

# Using loc to access data
print(df.loc['A', 'Age'])    # Output: 25
print(df.loc['B', 'City'])   # Output: San Francisco
print(df.loc['A':'B', 'Name':'City'])

25
San Francisco
    Name  Age           City
A  Alice   25       New York
B    Bob   30  San Francisco

**iloc:**
- Uses integer positions (0-based) to access data.
- The row and column positions are exclusive for the endpoint (half-open interval).
- Does not support boolean indexing for filtering rows based on conditions (only integer indexing).
- Syntax: df.iloc[row_index, column_index] or df.iloc[row_index] for accessing entire rows.

In [6]:
# Using iloc to access data
print(df.iloc[0, 1])     # Output: 25 (Age of the first row)
print(df.iloc[1, 2])     # Output: Los Angeles (City of the second row)
print(df.iloc[0:2, 0:2])

25
San Francisco
    Name  Age
A  Alice   25
B    Bob   30

<p style='color:green;font-weight:bold'>  Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df 
then find the output for both new_df.loc[2] and new_df.iloc[2].</p>

Did you observe any difference in both the outputs? If so then explain it. Consider the below code to answer further questions:

In [12]:
import pandas as pd

import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

# Reindex the DataFrame using the list [3, 0, 1, 2]
new_df = df1.reindex([3, 0, 1, 2])

# Print the new DataFrame
print("New DataFrame:")
print(new_df)

print("============================================================",end="\n")

# Output for new_df.loc[2] and new_df.iloc[2]
print("\nOutput for new_df.loc[2]:")
print(new_df.loc[2])

print("============================================================",end="\n")

print("\nOutput for new_df.iloc[2]:")
print(new_df.iloc[2])

New DataFrame:
   column_1  column_2  column_3  column_4  column_5  column_6
3  0.677755  0.695997  0.320592  0.436197  0.254035  0.283859
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.134415  0.293686  0.111696  0.224464  0.177843  0.596757
2  0.446137  0.814953  0.905378  0.318009  0.896252  0.638121
============================================================

Output for new_df.loc[2]:
column_1    0.446137
column_2    0.814953
column_3    0.905378
column_4    0.318009
column_5    0.896252
column_6    0.638121
Name: 2, dtype: float64
============================================================

Output for new_df.iloc[2]:
column_1    0.134415
column_2    0.293686
column_3    0.111696
column_4    0.224464
column_5    0.177843
column_6    0.596757
Name: 1, dtype: float64

In [8]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.629279  0.035779  0.795891  0.289817  0.436646  0.466556
2  0.970965  0.815609  0.550135  0.700245  0.747798  0.200979
3  0.729831  0.175070  0.399462  0.155231  0.020364  0.594834
4  0.320071  0.705683  0.291959  0.396074  0.553928  0.172039
5  0.371140  0.029113  0.842453  0.974786  0.844435  0.813245
6  0.753709  0.033965  0.574609  0.960859  0.921858  0.544255

<p style='color:green;font-weight:bold'>  Q4. Write a code to find the following statistical measurements for the above dataframe df1:</p>

(i) 	mean of each and every column present in the dataframe.

(ii) standard deviation of column, ‘column_2’

In [14]:
# (i) Mean of each column in the DataFrame
mean_values = df1.mean()
print("Mean of each column:")
print(mean_values)
print("============================================================",end="\n")
# (ii) Standard deviation of 'column_2'
std_column_2 = df1['column_2'].std()
print("\nStandard deviation of 'column_2':")
print(std_column_2)

Mean of each column:
column_1    0.561210
column_2    0.603277
column_3    0.544222
column_4    0.462879
column_5    0.412505
column_6    0.500206
dtype: float64
============================================================

Standard deviation of 'column_2':
0.21500416898956898

<p style='color:green;font-weight:bold'>  Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the 
mean of column, column_2.</p>

If you are getting errors in executing it then explain why.

[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [16]:
# Replace the data in the second row of 'column_2' with a string variable
df1.loc[1, 'column_2'] = 'string_data'

# Find the mean of 'column_2'
mean_column_2 = df1['column_2'].mean()
print("Mean of 'column_2':", mean_column_2)

1.The df1.loc[1, 'column_2'] = 'string_data' statement successfully replaces the value in the second row of 'column_2' with the string 'string_data'.

2.However, when calculating the mean using df1['column_2'].mean(), Pandas tries to convert all values in 'column_2' to a numeric type to calculate the mean. Since one of the values is now a string ('string_data'), Pandas raises a TypeError because it cannot convert the string to a float (as required for numeric calculation).
To avoid the error, you should ensure that all values in 'column_2' are of the same data type (preferably numeric) before calculating the mean. If you need to include both numeric and string data in the same column, you may need to convert the entire column to a dtype that can handle both types, such as 'object', which allows mixed data types but prevents arithmetic calculations like the mean.

<p style='color:green;font-weight:bold'>  Q6. What do you understand about the windows function in pandas and list the types of windows 
functions?</p>

1.**rolling()**: This window function is used for rolling window computations. It creates a "rolling view" of the data, where you can calculate various aggregate functions (like mean, sum, etc.) for each window. The window size can be fixed or variable.

In [17]:
import pandas as pd

# Creating a Series
data = pd.Series([10, 20, 30, 40, 50])

# Calculating the rolling mean with a window size of 2
rolling_mean = data.rolling(window=2).mean()
print(rolling_mean)

0     NaN
1    15.0
2    25.0
3    35.0
4    45.0
dtype: float64

2.**expanding()**: The expanding() function creates an expanding window view of the data. It starts from the beginning of the data and expands the window with each observation, performing calculations for the entire data seen so far.

In [18]:
import pandas as pd

# Creating a Series
data = pd.Series([10, 20, 30, 40, 50])

# Calculating the expanding sum
expanding_sum = data.expanding().sum()
print(expanding_sum)

0     10.0
1     30.0
2     60.0
3    100.0
4    150.0
dtype: float64

3.**ewm()**: This window function stands for "exponentially weighted moving." It calculates exponentially weighted statistics for each window. It is commonly used for time-series data to give more weight to recent observations.

In [19]:
import pandas as pd

# Creating a Series
data = pd.Series([10, 20, 30, 40, 50])

# Calculating the exponentially weighted moving average
ewm_mean = data.ewm(span=2).mean()
print(ewm_mean)

0    10.000000
1    17.500000
2    26.153846
3    35.500000
4    45.206612
dtype: float64

<p style='color:green;font-weight:bold'>  Q7. Write a code to print only the current month and year at the time of answering this question.></p>

In [20]:
import datetime

# Get the current date and time
current_date_time = datetime.datetime.now()

# Extract the current month and year from the date
current_month = current_date_time.month
current_year = current_date_time.year

# Print the current month and year
print("Current Month:", current_month)
print("Current Year:", current_year)

Current Month: 7
Current Year: 2023

<p style='color:green;font-weight:bold'>  Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and 
calculates the difference between them in days, hours, and minutes using Pandas time delta. The 
program should prompt the user to enter the dates and display the result.</p>

In [23]:
import pandas as pd

def calculate_time_difference(start_date, end_date):
    # Convert the input dates to pandas datetime objects
    start_date = pd.to_datetime(start_date)
    end_date = pd.to_datetime(end_date)

    # Calculate the time difference using Pandas Timedelta
    time_difference = end_date - start_date

    # Extract the days, hours, and minutes from the time difference
    days = time_difference.days
    hours = time_difference.seconds // 3600
    minutes = (time_difference.seconds // 60) % 60

    return days, hours, minutes

# Get input from the user
start_date_input = input("Enter the start date (YYYY-MM-DD): ")
end_date_input = input("Enter the end date (YYYY-MM-DD): ")

# Calculate the time difference
days_diff, hours_diff, minutes_diff = calculate_time_difference(start_date_input, end_date_input)

# Display the result
print(f"\nTime Difference: {days_diff} days, {hours_diff} hours, {minutes_diff} minutes.")

Time Difference: 9 days, 0 hours, 0 minutes.

<p style='color:green;font-weight:bold'>  Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified 
column to a categorical data type. The program should prompt the user to enter the file path, column 
name, and category order, and then display the sorted data.</p>

In [24]:
import pandas as pd

def convert_to_categorical(df, column_name, category_order):
    # Convert the specified column to categorical with custom category order
    df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

    # Sort the DataFrame based on the categorical column
    df_sorted = df.sort_values(by=column_name)

    return df_sorted

# Get input from the user
file_path = input("Enter the CSV file path: ")
column_name = input("Enter the column name to convert to categorical: ")
category_order_str = input("Enter the category order (comma-separated): ")

# Split the comma-separated category order into a list
category_order = category_order_str.split(',')

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Call the function to convert and sort the data
df_sorted = convert_to_categorical(df, column_name, category_order)

# Display the sorted data
print("\nSorted Data:")
print(df_sorted)

## Link Below ##
##https://www.stats.govt.nz//assets/Uploads/Annual-enterprise-survey/Annual-enterprise-survey-2021-financial-year-provisional/Download-data/annual-enterprise-survey-2021-financial-year-provisional-csv.csv
## column name: Variable_code
## category_order: Variable_code

Sorted Data:
       Year Industry_aggregation_NZSIOC Industry_code_NZSIOC  \
0      2021                     Level 1                99999
1      2021                     Level 1                99999
2      2021                     Level 1                99999
3      2021                     Level 1                99999
4      2021                     Level 1                99999
...     ...                         ...                  ...
41710  2013                     Level 3                 ZZ11
41711  2013                     Level 3                 ZZ11
41712  2013                     Level 3                 ZZ11
41713  2013                     Level 3                 ZZ11
41714  2013                     Level 3                 ZZ11

             Industry_name_NZSIOC               Units Variable_code  \
0                  All industries  Dollars (millions)           NaN
1                  All industries  Dollars (millions)           NaN
2                  All industries  Dollars (millions)           NaN
3                  All industries  Dollars (millions)           NaN
4                  All industries  Dollars (millions)           NaN
...                           ...                 ...           ...
41710  Food product manufacturing          Percentage           NaN
41711  Food product manufacturing          Percentage           NaN
41712  Food product manufacturing          Percentage           NaN
41713  Food product manufacturing          Percentage           NaN
41714  Food product manufacturing          Percentage           NaN

                                         Variable_name      Variable_category  \
0                                         Total income  Financial performance
1      Sales, government funding, grants and subsidies  Financial performance
2                    Interest, dividends and donations  Financial performance
3                                 Non-operating income  Financial performance
4                                    Total expenditure  Financial performance
...                                                ...                    ...
41710                                      Quick ratio       Financial ratios
41711              Margin on sales of goods for resale       Financial ratios
41712                                 Return on equity       Financial ratios
41713                           Return on total assets       Financial ratios
41714                            Liabilities structure       Financial ratios

         Value                             Industry_code_ANZSIC06
0      757,504  ANZSIC06 divisions A-S (excluding classes K633...
1      674,890  ANZSIC06 divisions A-S (excluding classes K633...
2       49,593  ANZSIC06 divisions A-S (excluding classes K633...
3       33,020  ANZSIC06 divisions A-S (excluding classes K633...
4      654,404  ANZSIC06 divisions A-S (excluding classes K633...
...        ...                                                ...
41710       52  ANZSIC06 groups C111, C112, C113, C114, C115, ...
41711       40  ANZSIC06 groups C111, C112, C113, C114, C115, ...
41712       12  ANZSIC06 groups C111, C112, C113, C114, C115, ...
41713        5  ANZSIC06 groups C111, C112, C113, C114, C115, ...
41714       46  ANZSIC06 groups C111, C112, C113, C114, C115, ...

[41715 rows x 10 columns]

<p style='color:green;font-weight:bold'>  Q10. Write a Python program that reads a CSV file containing sales data for different products and 
visualizes the data using a stacked bar chart to show the sales of each product category over time. The 
program should prompt the user to enter the file path and display the chart.</p>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Get input from the user
file_path = "D:\Python Program\DS-2023\PWSkills\assignment\24 Feb'23 Pandas Advance\Amazon Sale Report.csv"

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Assuming the DataFrame has 'Product_Category', 'Date', and 'Sales' columns
# You may need to adjust the column names based on your CSV file

# Convert 'Date' column to datetime type
df['Date'] = pd.to_datetime(df['Date'])

# Group the data by 'Product_Category' and 'Date' and calculate total sales
grouped_data = df.groupby(['Category', 'Date'])['Amount'].sum().reset_index()

# Pivot the data to get 'Product_Category' as columns and 'Date' as index
pivot_data = grouped_data.pivot(index='Date', columns='Category', values='Amount')

# Create the stacked bar chart
pivot_data.plot(kind='bar', stacked=True, figsize=(10, 6))

# Customize the chart labels and title
plt.xlabel('Date')
plt.ylabel('Sales')
plt.title('Sales of Each Product Category Over Time')

# Show the chart
plt.legend(loc='upper left')
plt.show()

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "c:\Users\prade\AppData\Local\Programs\Python\Python310\lib\site-packages\IPython\core\interactiveshell.py", line 3378, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\prade\AppData\Local\Temp\ipykernel_13356\2634012353.py", line 8, in <module>
    df = pd.read_csv(file_path)
  File "c:\Users\prade\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\util\_decorators.py", line 211, in wrapper
    return func(*args, **kwargs)
  File "c:\Users\prade\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\util\_decorators.py", line 331, in wrapper
    return func(*args, **kwargs)
  File "c:\Users\prade\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\parsers\readers.py", line 950, in read_csv
    return _read(filepath_or_buffer, kwds)
  File "c:\Users\prade\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\parsers\readers.py", line 605, in _read
    parser = TextFileReader(filepath_or_buffer, **kwds)
  File "c:\Users\prade\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\parsers\readers.py", line 1442, in __init__
    self._engine = self._make_engine(f, self.engine)
  File "c:\Users\prade\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\parsers\readers.py", line 1735, in _make_engine
    self.handles = get_handle(
  File "c:\Users\prade\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\common.py", line 856, in get_handle
    handle = open(
OSError: [Errno 22] Invalid argument: "D:\\Python Program\\DS-2023\\PWSkills\x07ssignment\x14 Feb'23 Pandas Advance\\Amazon Sale Report.csv"

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\Users\prade\AppData\Local\Programs\Python\Python310\lib\site-packages\IPython\core\interactiveshell.py", line 1997, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "c:\Users\prade\AppData\Local\Programs\Python\Python310\lib\site-packages\IPython\core\ultratb.py", line 1112, in structured_traceback
    return FormattedTB.structured_traceback(
  File "c:\Users\prade\AppData\Local\Programs\Python\Python310\lib\site-packages\IPython\core\ultratb.py", line 1006, in structured_traceback
    return VerboseTB.structured_traceback(
  File "c:\Users\prade\AppData\Local\Programs\Python\Python310\lib\site-packages\IPython\core\ultratb.py", line 859, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "c:\Users\prade\AppData\Local\Programs\Python\Python310\lib\site-packages\IPython\core\ultratb.py", line 793, in format_exception_as_a_whole
    self.get_records(etb, number_of_lines_of_context, tb_offset) if etb else []
  File "c:\Users\prade\AppData\Local\Programs\Python\Python310\lib\site-packages\IPython\core\ultratb.py", line 839, in get_records
    style = stack_data.style_with_executing_node(style, "bg:ansiyellow")
  File "c:\Users\prade\AppData\Local\Programs\Python\Python310\lib\site-packages\stack_data\core.py", line 455, in style_with_executing_node
    class NewStyle(style):
  File "c:\Users\prade\AppData\Local\Programs\Python\Python310\lib\site-packages\pygments\style.py", line 91, in __new__
    ndef[4] = colorformat(styledef[3:])
  File "c:\Users\prade\AppData\Local\Programs\Python\Python310\lib\site-packages\pygments\style.py", line 58, in colorformat
    assert False, "wrong color format %r" % text
AssertionError: wrong color format 'ansiyellow'