<h2 style='color:blue;font-weight:bold;text-align:center;'>**PWSkills Assignment **<h2>

<p style='color:green;font-weight:bold'>Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.</p>

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

<p style='color:green;font-weight:bold'>Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the 
variable print it.</p>

In [2]:
import pandas as pd

# Create a list variable with 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Convert the list into a Pandas Series
series = pd.Series(my_list)

# Print the Pandas Series
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

<p style='color:green;font-weight:bold'>Q3. Create a Pandas DataFrame that contains the following data:</p>

In [3]:
import pandas as pd

# Data for the DataFrame
data = {
    'Name': ['Alice', 'Bob','Claire'],
    'Age': [25,30,27],
    'Gender': ['Female','Male','Female']
}

# Create the Pandas DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

<p style='color:green;font-weight:bold'>Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.</p>

- DataFrame

In [5]:
import pandas as pd

# Example data for a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 22],
    'City': ['New York', 'San Francisco', 'Los Angeles']
}

# Create a DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print("DataFrame:")
print(df)

DataFrame:
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22    Los Angeles

- Series

In [6]:
# Create a Series from the 'Age' column of the DataFrame
age_series = df['Age']

# Print the Series
print("\nSeries:")
print(age_series)

Series:
0    25
1    30
2    22
Name: Age, dtype: int64

<p style='color:green;font-weight:bold'>Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame
you give an example of when you might use one of these functions?</p>

Pandas provides a wide range of functions to manipulate data in a DataFrame. Here are some common functions that you can use:
- `head() and tail()`: These functions allow you to view the first few rows (head()) or the last few rows (tail()) of the DataFrame. They are useful for quickly inspecting the structure and content of the data.

In [7]:
import pandas as pd

# Example DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 22],
    'City': ['New York', 'San Francisco', 'Los Angeles']
}

df = pd.DataFrame(data)

# Using head() and tail() functions
print("First few rows:")
print(df.head())

print("\nLast few rows:")
print(df.tail())

First few rows:
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22    Los Angeles

Last few rows:
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22    Los Angeles

- `info()`: This function provides a concise summary of the DataFrame, including the data types of each column, the number of non-null values, and memory usage. It helps in understanding the data types and identifying missing values.

In [9]:
# Using info() function
print("DataFrame info:")
print(df.info())

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes
None

- `describe()`: This function generates descriptive statistics of the DataFrame, such as count, mean, standard deviation, minimum, and maximum values. It is useful for gaining insights into the numerical data.

In [10]:
# Using describe() function
print("DataFrame statistics:")
print(df.describe())

DataFrame statistics:
             Age
count   3.000000
mean   25.666667
std     4.041452
min    22.000000
25%    23.500000
50%    25.000000
75%    27.500000
max    30.000000

- `sort_values()`: This function allows you to sort the DataFrame based on one or more columns. It's handy when you want to arrange the data in a specific order.

In [11]:
# Sorting the DataFrame by 'Age' in ascending order
sorted_df = df.sort_values(by='Age')

print("\nDataFrame sorted by Age:")
print(sorted_df)

DataFrame sorted by Age:
      Name  Age           City
2  Charlie   22    Los Angeles
0    Alice   25       New York
1      Bob   30  San Francisco

- `groupby()`: This function is used for grouping data based on one or more columns. It's often used with aggregation functions like sum(), mean(), count(), etc., to summarize data for each group.
python

In [12]:
# Grouping the DataFrame by 'City' and calculating the mean age for each city
grouped_df = df.groupby('City')['Age'].mean()

print("\nMean age for each city:")
print(grouped_df)

Mean age for each city:
City
Los Angeles      22.0
New York         25.0
San Francisco    30.0
Name: Age, dtype: float64

<p style='color:green;font-weight:bold'>Q6. Which of the following is mutable in nature Series, DataFrame, Panel?</p>

In Pandas, the only mutable data structure among the options provided is the DataFrame.

1. **Series**: A Pandas Series is a one-dimensional array-like data structure, and it is immutable in nature. Once a Series is created, its elements cannot be modified directly.

2. **DataFrame**: A Pandas DataFrame is a two-dimensional tabular data structure, and it is mutable in nature. You can modify the elements of a DataFrame, add or remove rows and columns, and perform various data manipulations on it.

3. **Panel**: A Panel is a three-dimensional data structure in Pandas, but it has been deprecated since version 0.25.0 and is no longer recommended for use. As of version 1.0.0, Panel has been removed from the main Pandas library and placed in a separate package called `pandas-panels`. Panels were mutable in nature, but they are no longer part of the core Pandas library.

<p style='color:green;font-weight:bold'>Q7. Create a DataFrame using multiple Series. Explain with an example.</p>

In [13]:
import pandas as pd

# Creating multiple Series
name_series = pd.Series(['Alice', 'Bob', 'Charlie'])
age_series = pd.Series([25, 30, 22])
city_series = pd.Series(['New York', 'San Francisco', 'Los Angeles'])

# Creating the DataFrame using the Series
data = {
    'Name': name_series,
    'Age': age_series,
    'City': city_series
}

df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22    Los Angeles